.section{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    height: 40vh
}
.section__title{
    color: white;
    font-weight: 800;
    max-width: 200px;
}
.section__text{
    max-width:500px;
    color:white;
    font-size:15px;

}
.section__button{
    border-radius: 10%;
    background-color: blueviolet;
    color: white;
    padding: 5px;
    cursor: pointer;
}
.section__image {
    align-self: center;


}
.place{
    width: 300px;
    height: 100px;
    padding: 20px;

}
.place::placeholder{
    font-size: 20px;  /* Makes placeholder text larger */
    color: gray;
}
.title{
  display: flex;
    justify-content: center;

}
.box__1{
    border: 2px solid dodgerblue;
    height: 200px;
    width: 200px;
}
.box{
    display: flex;
    justify-content: center;

    gap:100px;


}
.write{
    display: flex;
    flex-direction: row;
  max-width: 70%;
text-align: center;

    margin-left:230px;
    align-items: center;
    gap: 170px;
}
.section__para{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    text-transform: uppercase;
}
.section__para-text{
    color: white;
    max-width: 500px;
    margin-top:50px;
    margin-bottom:0;
}
.author{
    margin-left:20%;
    margin-top: 0;
}
